html, body, #map-canvas {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

#facets-container {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 10px;
    bottom: 0%;
    box-sizing: border-box;
    justify-content: center;
    
    .facet-container {
        display: flex;
        justify-content: center;
        height: 30px;
        margin: 10px 0;
        flex-wrap: wrap;
        
        p {
            width: 360px;
            margin: 0 10px 0 0;
            
            input {
                width: 50px;
            }
        }
        
        .ui-slider {
            width: 100%;
        }
    }
}