// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'icons';

a {
    text-decoration: none;
}

html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;

    #panel {
    	position: absolute;
    	top: 5px;
    	left: 50%;
    	margin-left: -180px;
    	z-index: 5;
    	background-color: #fff;
    	padding: 5px;
    	border: 1px solid #999;
    }
    
    .container#main_container {
        position: absolute;
        width: 40%;
        bottom: 5%;
        left: 5%;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.35);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 10px 10px 25px rgba(109, 109, 109, 0.46);
    
        #navigation_links {
            list-style-type: none;
            padding: 0;
            text-align: center;
            
            li {
                display: inline-block;
                padding: 0 5px;
            }
        }
    }

    #latitude_field, #longitude_field, #contact_field, #available_field {
        display: none;
    }
    
    #rooms_field {
        float: left;
        margin-right: 10px;
    }

    .field { 
        #place_description {
            width: 500px;
            height: 75px;
        }
        
        #place_address {
            width: 500px;
        }
    }
    
    ul.authorization_links {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 0;
        text-shadow: 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff;
        
        li {
            list-style-type: none;
        }
    }
}