// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'icons', 'colours', 'transitions', 'layout';

a {
    text-decoration: none;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
    display: flex;
    @include flex-direction();
    
    #map-canvas {
        display: flex;
        flex-grow: 1;
        
        #place_pictures {
            display: flex; 
            justify-content: center; 
            
            .place_picture {
                width: 150px;
            }
        }
    }
    
    .container#main_container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;
        
        #facets-container {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: center;
            @include flex-direction-inverse();
            
            #slider-container {
                display: flex;
                @include flex-direction();
                width: 100%;
                flex-grow: 1;
                
                .facet {
                    display: flex;
                    @include flex-direction-inverse();
                    align-items: center;
                    margin: 10px 0;
                    
                    .inputContainer {
                        display: flex;
                        align-items: center;
                        flex-grow: 1;
                        @include flex-direction-inverse-reverse();
                        
                        input[type=number] {
                            height: 1em;
                            border: none;
                        }
                        
                        .slider {
                            flex-grow: 2;
                            @include slider-margins();
                        }
                    }
                }
            }
        }
        
        #options-container {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            @include flex-direction-inverse();
            
            #search {
                flex-grow: 1;
                    
                #searchbar {
                    height: 100%;
                    border: none;
                }
                
                
                #searchbar:focus {
                    outline: none;
                }
            }
            
            i, ul, span {
                height: 30px;
                margin: 0 10px;
                
                i {
                    height: auto;
                }
            }
            
            #toggle-filter-button {
                color: #333;
                padding: 0;
            }
            
            #toggle-filter-button:hover {
                color: $highlight-color;
                cursor: pointer;
            }
            
            #navigation_links {
                list-style-type: none;
                padding: 0;
                text-align: center;
                
                a {
                    color: #333;
                    
                    i {
                        margin: 0;
                    }
                }
                
                a:hover {
                    color: $highlight-color;
                }
            }
        }
    }
    
    .fa {
        font-size: 1.5em;
        padding: 0 5px;
    }
    
    .fa-search {
        font-size: 1em;
    }
    
    .place-management-link {
        color: #333;
    }
    
    .place-management-link:hover {
        color: $highlight-color;
    }

    #latitude_field, #longitude_field, #contact_field, #available_field {
        display: none;
    }
    
    #rooms_field {
        float: left;
        margin-right: 10px;
    }

    .field { 
        #place_description {
            width: 500px;
            height: 75px;
        }
        
        #place_address {
            width: 500px;
        }
    }
    
    ul.authorization_links {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 0;
        text-shadow: 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff;
        
        li {
            list-style-type: none;
        }
    }
}