<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>

<%= form_tag search_places_path do %>
    <input id="searchbar" name="query" placeholder="Search places" type="text">
<% end %>

<h1>Listing Places</h1>

<div id="places-container">
</div>

<div id="facets-container"></div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Place', new_place_path %>
<% end %>

<%= javascript_tag do %>
    window.maxmins = <%=raw @maxmins.to_json %>
<% end %>