<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>

<%= form_tag search_places_path do %>
    <input id="searchbar" name="query" placeholder="Search places" type="text">
<% end %>

<div id="facets-container"></div>