<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>

<!-- API request -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>" %>>
</script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>

<%= form_tag search_places_path do %>
    <input id="searchbar" name="query" placeholder="Search places" type="text">
<% end %>

<div id="map-canvas">
</div>

<div id="facets-container"></div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Place', new_place_path %>
<% end %>