<div id="facets-container"></div>

<div id="options-container">
    <span><i class="fa fa-search"></i><input id="searchbar" name="query" placeholder="Search places" type="text"></span>
    
    <i class="fa fa-filter" id="toggle-filter-button" title="Toggle filters"></i>